
.jezici {
    position: absolute;
    right: 10%;
    top: 10%;
    color: #555;
}

.jezici-li {
    display: inline-block;
    margin: 5px;
}
.jezici-links:link, jezici-links:visited {
    color: #555;
    text-decoration: none;
}