.Header {
    position: relative;
    background-color: #fff1d9;
    height: 100vh;
    width: 100vw;
}

.ImgFrame {
    position: absolute;
    min-width: 65vw;
    min-height: 100%;
    left: 5vw;
    z-index: 1;
}

.Img {
    position: absolute;
    display: inline;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/Logo-01-rszed.png');
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

@media (max-width: 799px) {
    .ImgFrame {
        left: 0;
        width: 100%;
    }

    .Img {
        background-image: url('../../assets/images/Logo-01-rszed--MobSmall.png');
    }
  }