.btn-ham-back {
    position: relative;
    width: 44px;
    height: 28px;
    top: 7%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 1000;
}

.btn-ham-back-mobile {
    position: relative;
    width: 44px;
    height: 28px;
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    background-color: transparent;
    z-index: 1000;  
}

.btn-ham-back:hover {
    cursor: pointer;
}
.btn-hamburger {
    position: absolute;
    background-color: #1d1b1b;
    height: 3px;
    width: 16px;
    top: 50%;
    z-index: 1;
}

.btn-hamburger, .btn-hamburger-before, .btn-hamburger-after {
    
    transition: all .3s;
}

.btn-hamburger-before {
    position: absolute;
    background-color: #1d1b1b;
    height: 3px;
    width: 24px;
    top: 1.5px;
    z-index: 1;
    
}

.btn-hamburger-after{
    position: absolute;
    background-color: #1d1b1b;
    height: 3px;
    width: 34px;
    bottom: 0;
    z-index: 1;
}