@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #fff;
  color: #555;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow-y: hidden;
}


@media only screen and (max-width: 1200px){
  .App {
      font-size: 18px;
  }
}


